    body {background-color: #D3EBCD;}
    hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;}
    h1 {color :#66BFBF;
        font-size: 100px}
    h3 {color :#EB5353;
        font-size: 40px}
    .title {background-color: #FF8C8C;
    margin: 0; margin-top: 0;}

  
    
    
